.pricing_page_wrapper {
    min-height: 56rem;
    background-color: #070707;
}

.pricing_page_title {
    font-size: 64px;
    padding-top: 54px;
    padding-left: 48px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: -0.02em;
    color: #C7FD1C;
    box-sizing: border-box;
}

.pricing_cards {
    display: flex;
    margin-top: 60px;
}

.pricing_card {
    cursor: pointer;
    width: 28.75rem;
    height: 35.375rem;
    margin: 0 auto;
    background-color: #CECECE;
    transition: transform 0.3s ease-in-out;
}

.pricing_card:hover {
    transform: scale(1.02);
}

.pricing_button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.pricing_card_button {
    margin-bottom: 38px;
    width: 24.25rem;
    height: 3.875rem;
    font-size: 22px;
    background-color: rgba(128, 128, 128, 0.84);
    color: white;
    border: 1px solid white !important;
    border-radius: 4px !important;
}

.pricing_card_button:hover {
    background-color: #070707 !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 4px !important;
}

.pricing_card_button:active {
    border: 1px solid white !Important;
}

.cards_detais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.details_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.6rem;
    width: 22rem;
    height: 20rem;
    background-color: #3030305c;
    box-sizing: border-box;
}

.amount_details {
    font-weight: 800;
    font-size: 32px;
}

.description_details {
    font-size: 26px;
    text-align: center;
}

.price_details {
    margin-top: 4px;
    font-size: 24px;
}

@media (max-width: 768px) {

    .pricing_page_title {
        font-size: 48px;
        padding-left: 1rem;
        padding-top: 5rem;
        text-align: center;
    }

    .pricing_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 3rem;
    }

    .pricing_card {
        width: 80%;
        height: 20rem;
        margin: 0 auto;
    }

    .pricing_card:nth-child(3) {
        margin-bottom: 4rem;
    }

    .pricing_card_button {
        width: 90%;
        font-size: 18px;
        height: 3.5rem;
        margin-bottom: 2rem;
    }

    .cards_detais {
        margin-top: 3rem;

    }

    .details_wrapper {
        width: 80%;
        height: 14rem;
        padding: 1rem;
    }

    .amount_details {
        font-size: 28px;
    }

    .description_details {
        font-size: 20px;
    }

    .price_details {
        font-size: 20px;
        margin-top: 2px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .pricing_page_title {
        font-size: 62px;
        padding-left: 1rem;
        padding-top: 5rem;
        text-align: center;
    }

    .pricing_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 4rem;
    }

    .pricing_card {
        width: 80%;
        height: 30rem;
        margin: 0 auto;
    }

    .pricing_card:nth-child(3) {
        margin-bottom: 4rem;
    }

    .pricing_card_button {
        width: 90%;
        font-size: 22px;
        height: 3.5rem;
        margin-bottom: 2rem;
    }

    .cards_detais {
        margin-top: 3rem;

    }

    .details_wrapper {
        width: 80%;
        height: 20rem;
        padding: 1rem;
    }

    .amount_details {
        font-size: 36px;
    }

    .description_details {
        font-size: 32px;
    }

    .price_details {
        font-size: 32px;
        margin-top: 20px;
    }
}