.main_page {
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/main_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 -400px 350px -50px rgba(0, 0, 0, 1);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main_page {
        min-height: 80vh;
    }
}