.contact_page_wrapper {
  min-height: 68rem;
  max-height: 84.2rem;
  background-color: #CECECE;
}

.upper_part_contact_page {
  color: black;
  display: flex;
  justify-content: space-around;
}

.img_contact {
  width: 28.75rem;
  height: 29.125rem;
  margin-top: 9.75rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img_contact:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
}

.first_title_contact {
  font-size: 60px;
  font-family: "Bebas Neue", sans-serif;
}

.second_title_contact {
  display: block;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  padding-left: 38rem;
}

.contact_titles {
  margin-top: 4.2rem;
}

.form_inputs {
  margin-top: 5rem;
  margin-right: 5rem;
}

.contact_input {
  font-size: 20px;
  border-bottom: 1px solid black;
  border-radius: 0;
  height: 3rem;
}

.contact_input:nth-child(2) {
  margin-top: 2.5rem;
}

.contact_input:nth-child(3) {
  margin-top: 2.5rem;
}

.contact_submit_button {
  width: 13.625rem;
  height: 3.375rem;
  background-color: #C7FD1C;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 4.875rem;
}

.contact_submit_button:hover {
  background-color: #A3CE1A !important;
  color: black !important;
  border-color: black !important;
}

.navigation_contacts_block {
  display: flex;
  justify-content: space-between;
  margin-top: 9.5rem;
}

.nav_links_contacts {
  list-style: none;
}

.social_media_links_contacts {
  list-style: none;
}

.author_info_contacts {
  list-style: none;
}

.li_link_contacts {
  position: relative;
  font-size: 18px;
  margin-top: 6px;
  cursor: pointer;
}

.li_info_contacts {
  font-size: 18px;
  margin-top: 6px;
}

.author_info_contacts {
  margin-right: 5rem;
}

.li_link_contacts:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease-in-out;
}

.nav_links_contacts {
  margin-left: -2rem;
}

.li_link_contacts:hover:after {
  width: 100%;
}


.lower_part_contact_page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  height: 304px;
  overflow: hidden;
}

.title_contacts_page {
  margin-top: 7.8rem;
  font-size: 256px;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.title_contacts_page:hover {
  margin-top: 5rem;
}

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.submitted_results {
  height: 16rem;
  margin-right: 10rem;
  margin-top: 4rem;
  text-align: center;
  padding: 3rem 2rem;
  letter-spacing: 0.06em;
  backdrop-filter: blur(8px);
  font-family: "Bebas Neue", sans-serif;
}

.submitted_title {
  font-size: 3rem;
  font-weight: 700;
  color: #38b000;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #38b000, #70e000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submitted_text {
  font-size: 1.6rem;
  color: #2f2f2f;
  line-height: 1.4;
  margin-top: -1rem;
}

.fade_in {
  animation: fadeIn 0.6s ease-in-out;
}

.error_text {
  color: red;
  font-size: 1rem;
  margin-top: 4px;
  margin-left: 4px;
}

.form_input_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .img_block_contact {
    display: none;
  }

  .contact_page_wrapper {
    min-height: auto;
    max-height: none;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  .upper_part_contact_page {
    flex-direction: column;
    align-items: center;
  }

  .contact_titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .first_title_contact {
    font-size: 32px;
    text-align: center;
    padding-left: 0;
  }

  .second_title_contact {
    font-size: 20px;
    padding-left: 0;
    text-align: center;
  }

  .contact_input {
    width: 100%;
    font-size: 16px;
    height: 2rem;
    margin: 0 auto;
  }

  .form_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
  }

  .contact_submit_button {
    margin: 0 auto;
    width: 80%;
    height: 3rem;
    font-size: 18px;
    margin-top: 2rem;
  }

  .nav_links_contacts {
    display: none;
  }

  .navigation_contacts_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    margin-top: 5rem;
  }


  .author_info_contacts {
    margin-right: 0;
  }

  .li_link_contacts,
  .li_info_contacts {
    font-size: 16px;
    margin-top: 4px;
    text-align: center;
  }

  .lower_part_contact_page {
    margin-top: 2rem;
    height: auto;
  }

  .title_contacts_page {
    font-size: 60px;
    margin-top: 2rem;
  }

  .title_contacts_page:hover {
    margin-top: 2rem;
  }

  .submitted_results {
    margin: 0 auto;
    width: 90%;
    padding: 5rem 1rem;
  }

  .submitted_title {
    font-size: 2rem;
  }

  .submitted_text {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .img_block_contact {
    display: none;
  }

  .contact_page_wrapper {
    min-height: auto;
    max-height: none;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  .upper_part_contact_page {
    flex-direction: column;
    align-items: center;
  }

  .contact_titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .first_title_contact {
    font-size: 46px;
    text-align: center;
    padding-left: 0;
  }

  .second_title_contact {
    font-size: 28px;
    padding-left: 0;
    text-align: center;
  }

  .contact_input {
    width: 100%;
    font-size: 18px;
    height: 2rem;
    margin: 0 auto;
  }

  .form_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .contact_submit_button {
    margin: 0 auto;
    width: 80%;
    height: 3rem;
    font-size: 20px;
    margin-top: 2rem;
  }

  .nav_links_contacts {
    display: none;
  }

  .navigation_contacts_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    margin-top: 5rem;
  }


  .author_info_contacts {
    margin-right: 0;
  }

  .li_link_contacts,
  .li_info_contacts {
    font-size: 18px;
    margin-top: 4px;
    text-align: center;
  }

  .lower_part_contact_page {
    margin-top: 2rem;
    height: auto;
  }

  .title_contacts_page {
    font-size: 72px;
    margin-top: 2rem;
  }

  .title_contacts_page:hover {
    margin-top: 2rem;
  }

  .submitted_results {
    margin: 0 auto;
    width: 90%;
    padding: 5rem 1rem;
  }

  .submitted_title {
    font-size: 4rem;
  }

  .submitted_text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .contact_page_wrapper {
    min-height: 58rem;
  }

  .img_contact {
    width: 20rem;
    height: 20rem;
  }

  .first_title_contact {
    font-size: 42px;
  }

  .second_title_contact {
    font-size: 20px;
    padding-left: 16.6rem;
  }

  .contact_titles {
    margin-top: 2rem;
  }

  .form_inputs {
    margin-top: 2rem;
  }

  .contact_input {
    font-size: 16px;
    height: 2rem;
  }

  .contact_submit_button {
    width: 8rem;
    height: 2rem;
    font-size: 16px;
    margin-top: 3rem;
  }

  .li_link_contacts {
    font-size: 12px;
  }

  .li_info_contacts {
    font-size: 12px;
  }

  .title_contacts_page {
    font-size: 160px;
    margin-top: 11.8rem;
  }

  .title_contacts_page:hover {
    margin-top: 10rem;
  }
  .submitted_results {
    height: 12rem;
  }
  .submitted_title {
    font-size: 2rem;
  }
  .submitted_text {
    font-size: 1.2rem;
  }
}