.running_reason_wrapper {
    min-height: 49.5rem;
    background-color: #C7FD1C;
    color: black;
}

.first_block_reasons {
    box-sizing: border-box;
    margin-left: 5.25rem;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow_card_reason {
    width: 236px;
    height: 206px;
    cursor: pointer;
    background-color: #C7FD1C;
    border-top: 1px solid #eeece3;
    border-left: 1px solid #eeece3;
    border-bottom: 1px solid #070707;
    border-right: 1px solid #070707;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    box-sizing: border-box;
    margin-right: 24px;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

.yellow_card_reason:hover {
    transform: scale(1.05);
}

.first_block_cards {
    display: flex;
    max-width: 40rem;
}

.yellow_card_reason:nth-child(2) {
    margin-left: 8rem;
}

.yellow_card_reason.freedom {
    margin-right: 10rem;
}

.black_text_reason.where {
    height: 100px;
    font-size: 128px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: -0.04em;
    font-family: "Bebas Neue", sans-serif;
}

.black_text_reason.are {
    height: 100px;
    font-size: 128px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: -0.04em;
    margin-left: 10rem;
}

.black_text_reason.you {
    font-family: "Bebas Neue", sans-serif;
    height: 100px;
    font-size: 128px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: -0.04em;
    margin-right: 50rem;
}

.black_text_reason.running {
    font-family: "Bebas Neue", sans-serif;
    height: 100px;
    font-size: 128px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: -0.04em;
    margin-right: 20rem;
}

.yellow_card_reason.mind {
    margin-left: 14rem;
}

.third_block_reasons {
    display: flex;
    justify-content: flex-end;
}

.fourth_block_reasons {
    display: flex;
    justify-content: center;
}

.second_block_reasons {
    margin-left: 5.25rem;
    display: flex;
}

@media (max-width: 768px) {
    .running_reason_wrapper {
        box-sizing: border-box;
        padding: 1rem;
    }

    .running_reason_wrapper::before {
        content: "WHERE ARE YOU RUNNING?";
        display: block;
        font-family: "Bebas Neue", sans-serif;
        font-size: 48px;
        font-weight: 800;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 2rem;
    }

    .black_text_reason.where,
    .black_text_reason.are,
    .black_text_reason.you,
    .black_text_reason.running {
        display: none !important;
    }

    .first_block_reasons,
    .second_block_reasons,
    .third_block_reasons,
    .fourth_block_reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 0;
    }

    .first_block_cards,
    .first_block_reasons,
    .second_block_reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .yellow_card_reason {
        width: 180px;
        height: 150px;
        margin: 0.5rem;
        font-size: 18px;
    }

    .yellow_card_reason:nth-child(2),
    .yellow_card_reason.freedom,
    .yellow_card_reason.mind {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .third_block_reasons,
    .fourth_block_reasons {
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .running_reason_wrapper {
        min-height: auto;
        box-sizing: border-box;
        padding: 2rem;
    }

    .running_reason_wrapper::before {
        content: "WHERE ARE YOU RUNNING?";
        display: block;
        font-family: "Bebas Neue", sans-serif;
        font-size: 62px;
        font-weight: 800;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 2rem;
    }

    .black_text_reason.where,
    .black_text_reason.are,
    .black_text_reason.you,
    .black_text_reason.running {
        display: none !important;
    }

    .first_block_reasons,
    .second_block_reasons,
    .third_block_reasons,
    .fourth_block_reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 0;
    }

    .first_block_cards,
    .first_block_reasons,
    .second_block_reasons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .yellow_card_reason {
        width: 200px;
        height: 180px;
        margin: 0.5rem;
        font-size: 22px;
    }

    .yellow_card_reason:nth-child(2),
    .yellow_card_reason.freedom,
    .yellow_card_reason.mind {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .third_block_reasons,
    .fourth_block_reasons {
        justify-content: center;
    }
}