.main_title_span {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 226px;
    letter-spacing: -0.05em;
    text-shadow: 0px 10px 10px rgb(0, 0, 0);
}

.main_title_span:nth-child(1) {
    margin-left: 4rem;
}

.main_title_span:nth-child(2) {
    margin-top: -10rem;
    margin-left: 8rem;
}

.main_title_span:nth-child(3) {
    margin-top: -10rem;
    margin-left: 28rem;
}

.lower_part_body {
    display: flex;
}

.body_description {
    width: 21.25rem;
    margin: -2rem auto;
    font-size: 22px;
    padding-right: 6rem;
}

.get_started_button {
    width: 13.625rem;
    height: 3.375rem;
    font-size: 20px;
    font-weight: 700;
    background-color: #C7FD1C;
    margin-right: 3.125rem;
    border-radius: 2px;
}

.get_started_button:hover {
    background-color: #A3CE1A !important;
    color: black !important;
    border-color: black !important;
}

@media (max-width: 768px) {
    .main_title_span {
        font-size: 80px;
    }


    .main_title_span:nth-child(2) {
        margin-top: -58px;
        margin-left: 7.6rem;
    }

    .main_title_span:nth-child(3) {
        margin-top: -58px;
        margin-left: 16rem;
    }

    .lower_part_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body_description {
        margin-top: 10rem;
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
    }

    .get_started_button {
        margin: 5rem auto 0 auto;
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .main_title_span {
        font-size: 96px;
    }


    .main_title_span:nth-child(2) {
        margin-top: -58px;
        margin-left: 7.6rem;
    }

    .main_title_span:nth-child(3) {
        margin-top: -58px;
        margin-left: 16rem;
    }

    .lower_part_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body_description {
        margin-top: 8rem;
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
    }

    .get_started_button {
        margin: 5rem auto 0 auto;
        width: 60%;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    .main_title_span {
        font-size: 104px;
    }


    .main_title_span:nth-child(2) {
        margin-top: -58px;
        margin-left: 7.6rem;
    }

    .main_title_span:nth-child(3) {
        margin-top: -58px;
        margin-left: 16rem;
    }

    .lower_part_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body_description {
        margin-top: 8rem;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
    }

    .get_started_button {
        margin: 5rem auto 0 auto;
        width: 60%;
    }
}

