.motivational_page_wrapper {
    background-color: #070707;
    min-height: 54rem;
}

.motivational_title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3.75rem;
    box-sizing: border-box;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: "Bebas Neue", sans-serif;
}

.first_part_motivational_title,
.second_part_motivational_title {
    display: block;
    padding-right: 60px;
}


.second_part_motivational_title {
    margin-top: -4rem;
}

.yellow_word {
    color: #C7FD1C;
}

.motivational_first_description {
    width: 18rem;
    margin: 2.25rem auto;
    font-size: 20px;
}

.motivational_second_description {
    width: 18rem;
    font-size: 20px;
    margin-left: 48px;
}

.contact_me_btn {
    width: 13.625rem;
    height: 3.375rem;
    font-size: 22px;
    font-weight: 700;
    background-color: #C7FD1C;
    margin-right: 3.125rem;
    border-radius: 2px;
}

.contact_me_button_mp {
    display: flex;
    justify-content: center;
}

.contact_me_btn:hover {
    background-color: #A3CE1A !important;
    color: black !important;
    border-color: black !important;
}

@media (max-width: 768px) {
    .motivational_title {
        margin-left: 1rem;
        font-size: 70px;
        padding-top: 3rem;
    }


    .second_part_motivational_title {
        display: block;
        margin-top: -2rem;
    }

    .motivational_first_description {
        margin: 1rem auto;
    }

    .you_key_word {
        display: inline-block;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .motivational_second_description {
        margin-top: 4rem;
    }

    .contact_me_btn {
        width: 80%;
        margin: 2rem auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .motivational_title {
        padding: 2rem;
    }


    .second_part_motivational_title {
        margin-top: -3rem;
    }

    .motivational_first_description {
        margin: 1rem auto;
    }

    .motivational_second_description {
        margin-top: 4rem;
    }

    .contact_me_btn {
        width: 60%;
        margin: 2rem auto;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    .motivational_page_wrapper {
        min-height: 46rem;
    }

    .motivational_title {
        font-size: 84px;
    }

    .motivational_first_description {
        font-size: 16px;
    }

    .motivational_second_description {
        width: 16rem;
        font-size: 16px;
    }

    .contact_me_btn {
        font-size: 18px;
    }
}
