.accordion_item {
    width: 90%;
    margin: 20px auto;
    border-bottom: 1px solid #857F7F;
}

.accordion_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    color: black;
    cursor: pointer;
    user-select: none;
}

.number_of_accordion {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 24px;
    margin-left: 10rem;
}

.accordion_title {
    text-align: center;
    font-size: 38px;
}

.accordion_icon {
    font-size: 3rem;
    margin-right: 10rem;
    transition: transform 0.3s ease-in-out;
}

.accordion_icon.open {
    transform: rotate(180deg);
}

.accordion_description {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.accordion_description.open {
    max-height: 500px;
}

.accordion_description span {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    padding-bottom: 3rem;
    color: #333;
    box-sizing: border-box;
}

@media (max-width:758px) {
    .accordion_item {
        width: 100%;
        margin: 1rem 0;
    }

    .accordion_content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem
    }

    .number_of_accordion {
        font-size: 18px;
        margin-left: 0.5rem;
    }

    .accordion_title {
        font-size: 20px;
        text-align: left;
        flex: 1;
        margin: 0 0.5rem;
    }

    .accordion_icon {
        font-size: 2rem;
        margin-right: 0.5rem;
    }

    .accordion_description span {
        font-size: 16px;
        padding: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    .number_of_accordion {
        font-size: 16px;
    }
    .accordion_title {
        font-size: 30px;
    }
    .accordion_icon {
        font-size: 2.4rem;
    }
    .accordion_description span {
        font-size: 14px;
        padding-bottom: 2rem;
    }
}